# --------------
#     Editor
# --------------

.vscode/*

# Input and output data
# File sizes are too large
/data/*
/output/data/*

# ---------
#     R
# ---------

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Quarto files
/.quarto/

# --------------
#     Python
# --------------

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints
